* {
    border: 
    padding: 1em;
    margin: 1em1px dotted lightblue;;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    height: 10vh;
    margin: 2em;
}


main {
    background-color: paleturquoise;
    
}

.fishcards {
    display: flex;
    flex-wrap:wrap;
    border: 1px dotted lightblue;
    

    
}

main.content{
    width: 70%; 
   
}

.card-info {
    width: 40%
}
.placecards {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    border: 1px dotted lightblue;
    
    
}

h1 {
    text-align: center;
}

h2{
    text-align:center;
}


header {
    display: flex;
    text-align: center;
    background-color: paleturquoise;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 5em;
}
article {
    margin-bottom: 5em;
   
    margin-block-end: 2em;
    
}


.container {
    display:flex;
    justify-content: space-between;
    
}
.name {
    font-weight: bold;
}

.sidebar {
    border: 1px dotted lightblue;
    width: 25%;
    background-color: white;
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em;
}

footer {
    text-align: center;
    font-size: x-small;
    background-color: paleturquoise;
    padding: 5px;
}

section {
    background-color: white;
    margin: 2em;
}

aside {
    margin-bottom: 2em;
}